$nice_cyan: rgba(7,232,255, 1);
$nice_blue: rgba(29,146,255, 1);
$cyan: rgba(0,255,255, 1);
$whitesmoke: #F5F5F5;
$black: #000000;
$darkgrey_24: rgba(24,24,24, 1);
$darkgrey_44: rgba(44,44,44, 1);
$darkgreen: rgba(44,65,106, 1);

