@import 'fonts.scss';
@import 'colors.scss';

.about {
  .divbtn {
    display: flex;
    justify-content: right;
  }
  .articles {
    width: 90%;
    margin: auto;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 7px $cyan;
    .h3 {
      width: 300px;
      padding-top: 20px;
      padding-left: 30px;
      display: flex;
      align-items: center;
      font-family: $acme_font;
      font-size: 1.4rem;
      background: linear-gradient(to right,
        #f32170, #ff6b08, #ffff00);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    .paragraphabout {
      padding: 20px 30px;
      margin: auto;
      text-align: justify;
      font-family: $akayakanadaka_font;
      font-size: 1.4rem;
      color: $cyan;
    }
  }
}
