@import 'fonts.scss';
@import 'colors.scss';

@mixin stylelink($width){
  margin-top: 20px;
  width: $width;
}

@mixin linearcolor(){
  background: linear-gradient(to right,
    $cyan, dodgerblue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@mixin listyle(){
  margin: 10px 40px;
  list-style: none;
  font-family: $akayakanadaka_font;
  font-size: 1.4rem;
}

.main {
  width: 100%;
  margin-top: 10%;
  .firstcontainer {
    margin: 10% 20%;
    box-shadow: 0px 0px 20px rgba(0,255,255,0.4);
    border-radius: 20px;
    background: linear-gradient(120deg,
      $darkgrey_24, 
      $darkgreen);
    .titlehome {
      padding: 0px;
      padding-top: 30px;
      margin: auto;
      text-align: center;
      font-family: $akayakanadaka_font;
      font-size: 6rem;
      color: $whitesmoke;
      text-shadow:
      0px 2px 4px rgba(205,205,205,1),
      0px 3px 0px rgba(165,165,165,1),
      0px 4px 0px rgba(125,125,125,1),
      0px 5px 0px rgba(85,85,85,1),
      3px 8px 15px rgba(0,0,0, 0.1),
      3px 8px 5px rgba(0,0,0, 0.3);
      transform-style: preserve-3d;
    }
    .linkcontainer {
      display: flex;
      justify-content: space-between;
      .homelinks {
        @include stylelink(40%);
        .li {
          @include listyle();
          .link {
            text-decoration: none;
            @include linearcolor();
          }
        }
      }
      .secondhomelinks {
        @include stylelink(45%);
        .li {
          @include listyle();
          text-align: right;
          .link {
            text-decoration: none;
            @include linearcolor();
          }
        }
      }
    }
    .divimg {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      .img {
        filter: invert(100%);
        -webkit-filter: invert(100%);
      }
    }
  }
}
