@import 'fonts.scss';
@import 'colors.scss';

@keyframes sectionone-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin topright(){
  top: 0px;
  right: 0px;
}

@mixin trbl(){
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@mixin skillsframes(){
  margin-top: 10%;
  opacity: 1;
  animation-name: sectionone-animation;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out, linear;
}

.skills {
  .divbtn {
    display: flex;
    justify-content: right;
  }
  .sectionone {
    position: relative;
    width: 60%;
    margin: auto;
    @include skillsframes();
    border-radius: 15px;
    .titlebtncontainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .secondtitle {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 10px;
      padding-bottom: 5px;
      font-family: $akayakanadaka_font;
      font-size: 2.2rem;
      color: rgba(255,255,255,0.7);
    }
    .mainblocdiv{
      height: auto;
      margin: auto;
      padding: 20px 0px;
      display: grid;
      grid-template-columns: 1Fr 1Fr 1Fr;
      grid-template-rows: 1Fr 1Fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;      
      justify-items: center;
      .subblockdiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 4px $cyan;
        border-radius: 15px;
        border: 1px solid cyan;
        .h3titlesubblock {
          margin-top: 10px;
          margin-bottom: 10px;
          padding-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $akayakanadaka_font;
          color: rgba(0,255,255,0.5);
          border-bottom: 1px dashed rgba(0,255,255,0.5);
        }
        .blocli {
          margin-bottom: 10px;
          .listhard {
            margin: 5px 0px;
            padding: 5px 0px;
            padding-left: 10px;
            font-family: $akayakanadaka_font;
            background: rgba(0,50,100, 0.3);
            color: rgba(255,255,255,0.7);
            .classa {
              margin-left: -7px;
              font-family: $acme_font;
              font-size: 1.2rem;
              color: rgba(255,255,255,0.7);
            }
          }
        }
      }
    }
  }
  .sectiontwo {
    position: absolute;
    right: 20%;
    left: 20%;
    @include skillsframes();
    .secondtitlebtncontainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-family: $akayakanadaka_font;
      font-size: 2.2rem;
      color: rgba(255,255,255,0.7);
    }
    .divlist {
      display: flex;
      align-items: center;
      .listsoft {
        margin: 5px 0px;
        font-size: 1.5rem;
        color: rgba(0,255,255,0.5);
        .linka {
          margin-left: -7px;
          font-family: $acme_font;
          font-size: 1.5rem;
          color: rgba(0,255,255,0.5);
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .skills {
    .divbtn {
      .btntopright {
      }
    }
    .mainclassvideo {
      .divvideointro {
      }
    }
    .mainheaderskills {
    }
    .sectionone {
      margin-top: 5%;
      .btnhard {
      }
      .secondtitle {
      }
      .mainblocdiv {
        .subblockdiv {
          .h2titlesubblock {
          }
          .blocli {
            .listhard {
              .classa {
              }
            }
          }
        }
      }
    }
    .sectiontwo {
      margin-top: 5%;
      .btnsoft {
      }
      .secondtitle {
      }
      .divlist {
        .listsoft {
          .linka {
          }
        }
      }
    }
  }
}
